body {
  text-align: center;
  background-color: #212121;
  color: #fff;
}

input {
  height: 30px;
  width: 250px;
  font-size: 20px;
}

input[type='submit'] {
  height: 40px;
  width: 100px;
}

.topic,
button,
input[type='submit'],
.subreddit {
  cursor: pointer;
}

.topic {
  font-size: 30px;
}

.subreddit {
  width: 50%;
  display: inline-block;
  border: solid 5px #fff;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
}

.post {
  width: 30%;
  border: solid 5px #fff;
  border-radius: 5px;
  margin: 20px auto;
  padding: 5px;
}

button,
input[type='submit'] {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 17px;
  background-color: #2196f3;
  color: #fff;
  border: 8px solid #2196f3;
  border-radius: 5px;
}

.post h1 {
  font-size: 22px;
}

.post p {
  font-size: 20px;
}

.load-screen {
  margin-top: 20%;
}
